#

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import json
import pandas as pd
import seaborn as sns
import sys

In [5]:
# Save data into dataframe
metacritic_df = pd.read_csv('../data/metacritic_data.csv')
rawg_df = pd.read_csv('../data/rawg_data.csv')

In [6]:
metacritic_df.head()

,title,released,developer,publisher,genres,rating,user_score,ratings_count,platforms
0,ZIGGURAT,2012-02-17,ACTION BUTTON ENTERTAINMENT,FRESHUU INC.,ACTION,NaN,6.9,14,IOS (IPHONE/IPAD)
1,4X4 EVO 2,2001-11-15,TERMINAL REALITY,GATHERING,AUTO RACING SIM,RATED E FOR EVERYONE,0.0,0,XBOX
2,MOTOGP 2,2002-01-22,NAMCO,NAMCO,AUTO RACING SIM,RATED E FOR EVERYONE,5.8,0,PLAYSTATION 2
3,GOTHIC 3,2006-11-14,PIRANHA BYTES,ASPYR,WESTERN RPG,RATED T FOR TEEN,7.5,832,PC
4,SIEGE SURVIVAL GLORIA VICTIS,2021-05-18,FISHTANKSTUDIO,BLACK EYE GAMES,RPG,NaN,6.5,10,PC

In [7]:
rawg_df.head()

,title,released,rating,ratings_count,platforms,genres
0,GRAND THEFT AUTO V,2013-09-17,MATURE,6781,PC,ACTION
1,THE WITCHER 3: WILD HUNT,2015-05-18,MATURE,6494,XBOX SERIES S/X,ACTION
2,PORTAL 2,2011-04-18,EVERYONE 10+,5619,PLAYSTATION 3,SHOOTER
3,COUNTER-STRIKE: GLOBAL OFFENSIVE,2012-08-21,MATURE,3448,PC,SHOOTER
4,TOMB RAIDER (2013),2013-03-05,MATURE,3867,PLAYSTATION 4,ACTION

In [8]:
print(metacritic_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14055 entries, 0 to 14054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          14034 non-null  object
 1   released       13991 non-null  object
 2   developer      13917 non-null  object
 3   publisher      13917 non-null  object
 4   genres         14034 non-null  object
 5   rating         11005 non-null  object
 6   user_score     14055 non-null  float64
 7   ratings_count  14055 non-null  int64
 8   platforms      14026 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 988.4+ KB
None

In [9]:
print(rawg_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          1000 non-null   object
 1   released       1000 non-null   object
 2   rating         737 non-null    object
 3   ratings_count  1000 non-null   int64
 4   platforms      996 non-null    object
 5   genres         999 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB
None

In [10]:
metacritic_df['title'] = metacritic_df['title'].str.upper()
rawg_df['title'] = rawg_df['title'].str.upper()

# Merge the two DataFrames on the 'title' column
merged_data = pd.merge(metacritic_df, rawg_df, how='outer', on='title')

# Inspect the result

print("Number of register:", merged_data.shape[0])
merged_data.head()

Number of register: 14513

,title,released_x,developer,publisher,genres_x,rating_x,user_score,ratings_count_x,platforms_x,released_y,rating_y,ratings_count_y,platforms_y,genres_y
0,'SPLOSION MAN,2009-07-22,TWISTED PIXEL GAMES,TWISTED PIXEL GAMES,2D PLATFORMER,RATED E +10 FOR EVERYONE +10,7.3,91.0,XBOX 360,NaN,NaN,NaN,NaN,NaN
1,0 DAY ATTACK ON EARTH,2009-12-23,GULTI,SQUARE ENIX,THIRD PERSON SHOOTER,RATED E +10 FOR EVERYONE +10,5.9,8.0,XBOX 360,NaN,NaN,NaN,NaN,NaN
2,007 LEGENDS,2012-10-16,EUROCOM,ACTIVISION,FPS,RATED T FOR TEEN,4.5,84.0,XBOX 360,NaN,NaN,NaN,NaN,NaN
3,007 NIGHTFIRE,2002-11-18,EUROCOM,ELECTRONIC ARTS,FPS,RATED T FOR TEEN,8.3,20.0,GAMECUBE,NaN,NaN,NaN,NaN,NaN
4,007 QUANTUM OF SOLACE,2008-11-04,TREYARCH,ACTIVISION,FPS,RATED T FOR TEEN,6.9,67.0,XBOX 360,NaN,NaN,NaN,NaN,NaN

In [11]:
merged_data.to_csv('../data/merge_data.csv', index=False)

In [13]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14513 entries, 0 to 14512
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            14492 non-null  object
 1   released_x       13991 non-null  object
 2   developer        13917 non-null  object
 3   publisher        13917 non-null  object
 4   genres_x         14034 non-null  object
 5   rating_x         11005 non-null  object
 6   user_score       14055 non-null  float64
 7   ratings_count_x  14055 non-null  float64
 8   platforms_x      14026 non-null  object
 9   released_y       1000 non-null   object
 10  rating_y         737 non-null    object
 11  ratings_count_y  1000 non-null   float64
 12  platforms_y      996 non-null    object
 13  genres_y         999 non-null    object
dtypes: float64(3), object(11)
memory usage: 1.6+ MB